@use '../base' as *;
@use '../abstracts' as *;

.footer {
    padding: 22px 25px 24px 25px;
    background-color: $color-gray-darker;
    color: $color-white;
    display: flex; 
    flex-direction: column;
    gap: 25px;

    .logo {
        display: block;
        &-image {
            width: 139px;
            height: 27px;
        }
    }
    a {
        color: $color-white;
    }

    ul {
        margin: 0;
        //margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 7px;
        list-style-type: none;
    }
    li {
        a {
            text-decoration: none;
        }
        
        &::marker {
            
            color: rgb(170, 255, 0);
        }
    }

    .icon {
        width: 11px;
        height: 13px;
        padding-right: 11px;
        
    }
    

    
}
