/*colors*/
$color-purple-dark: #9356DC;
$color-purple-dark-02: #af73e1;
$color-purple-light: #FF79DA;
$color-purple-light-02: #e785e0;
$color-blue-dark: #003A68;
$color-blue-light: #89C8FA;
$color-green-dark: #008766;
$color-green-light: #99E2D0;
$color-white: #fff;
$color-gray-light: #F6F6F6;
$color-gray: #EAEAEA;
$color-gray-dark: #7E7E7E;
$color-gray-darker: #353535;
$color-black-light: #101010;
$color-black: #000;